body {
  background: #222;
  color: white;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  padding: 50px;
}

.player {
  max-width: 750px;
  width: 100%;
  border: 5px solid #444;
  position: relative;
}

.viewer {
  width: 100%;
  height: auto;
}

.player__controls {
  display: flex;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.7);
  align-items: center;
  padding: 10px;
}

.player__button,
.player__slider {
  margin: 0 5px;
  font-size: 18px;
}

.progress {
  flex: 1;
  background: #444;
  height: 5px;
  margin-top: 10px;
  cursor: pointer;
  width: 100%;
  display: flex;
}

.progress__filled {
  background: #f60;
  flex: 0;
  height: 100%;
}

.error {
  color: red;
  margin-top: 15px;
  font-weight: bold;
  text-align: center;
}
